#Home{
    .container{
        .home{
            .card-section{
                margin-bottom: 50px;
            }
        }
    }
    .registr-section{
        width: 100%;
        height: 700px;
        padding-bottom: 100px;
        display: flex;

        .yellow-section{
            width: 50%;
            background-color: #FFB606;
            .txt{
                margin: 130px 20%;
                color: #fff;
                .regHeader{
                    font-size: 35px;
                    line-height: 50px;
                    margin-bottom: 30px;
                }
                .subtxt{
                    line-height: 30px;
                    width: 90%;
                    text-align: center;
                }
                .regBtn{
                    margin: 60px 170px;
                    padding: 18px 15px;
                    text-transform: uppercase;
                    font-weight: 600;
                    width: 40%;
                    border: none;
                    background-color: #000;
                    color: #fff;
                }
            }
        }
        .img-section{
            width: 50%;
            position: relative;
            .bgregimg{
                width: 100%;
                height: 100%;
            }

            .regForm{
               position: absolute;
               z-index: 1;
               top: 30%;
               left: 25%;
               .regTitle{
                margin-bottom: 40px;
                font-size: 33px;
                text-align: center;
               }
               .regInput{
                margin-bottom: 10px;
                
                input{
                    padding: 12px 15px;
                    width: 500px;
                    border: none;
                }
               }
               .searchCourse{
                width: 500px;
                padding: 12px 15px;
                color: #fff;
                border: none;
                background-color: #FFB606;
               }
            }
        }
    }

    .container{
        .services{
            margin-bottom: 100px;
            .serviceHeader{
                text-align: center;
                margin: 40px 0;
            }
            .service-cards{
                display: flex;
              flex-wrap: wrap;
              column-gap: 55px;
              row-gap: 45px;
              .service-card{
                width: 30%;
                .service-parag{
                    margin-top: 15px;
                    line-height: 33px;
                    color: rgb(134, 134, 134);
                }
            }
        }
    }

      .upcomingEvents{
        margin-bottom: 100px;
        .upcomingEventsTitle{
            text-align: center;
            font-size: 40px;
            margin-bottom: 60px;
        }
          .calendar{
            display: flex;
            row-gap: 30px;
            flex-wrap: wrap;
            
            .d-flex{
                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: 65px;
                .data{
                    text-align: center;
                    border: 2px solid #FFB606;
                    padding: 31px 35px;
                    .num{
                        font-size: 30px;
                    }
                    .datadata{
                        color: #FFB606;
                        font-weight: 700;
                    }
                }
               a{
                color: #000;
                text-decoration: none;
               }
                .eventDescription{
                    width: 100%;
                    margin-top: 10px;
                    line-height: 33px;
                    color: rgb(134, 134, 134);
                }
            }
          }
      }
    }
}