#Footer{
    color: #fff;
    background-color: #1A1A1A;
    padding: 55px 0;
    .container{
        text-align: center;
        .footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .social-media{
                .fa-brands{
                    padding: 0 10px;
                }
            }
        }
    }
}